<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>port. | containers</title>
	<link rel="stylesheet" href="/views/styles/container.css">
	<link rel="stylesheet" href="/views/styles/style.css">
	<link rel="stylesheet" href="/views/styles/header.css">
</head>

<body>
	<div class="header">
		<a href="/"><span class="logotext">port.</span></a>
		<form action="/search?" class="search" method="POST">
			<input type="text" placeholder="search." id="searchQ" name="searchQ">
			<input type="submit" value="&#128270;">
			<button href="/search?searchQ=" id="clearQ">❌</button>
		</form>
		<div class="nav">
			<a href="/login">login.</a>
			<a href="/profile">dashboard.</a>
		</div>

	</div>
	<div class="flex">
		<h2>containers.</h2>
	</div>
	<div class="flexC">
		<% if(items){ %>
			<%items.forEach(function(file) { %>
				<div>
					<div class="container">
						<img src="/views/placeholders/portlogo.png" alt="port."
							style="filter: hue-rotate(<%= Math.random()*120%>deg);">
						<a href="/download/<%= file.name %>"><span class="portname">
								<%= file.name %>
							</span></a>
						<span class="portsize">
							<%= file.size %> MB
								<a href="/delete/<%= file.name %>" class="trashcan"><svg
										xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-trash" viewBox="0 0 16 16">
										<path
											d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
										<path fill-rule="evenodd"
											d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
									</svg></a>
						</span>
					</div>
				</div>
				<% }) %>
					<%}%>
	</div>

</body>

</html>